##### Pre-Election Dataset as of 10/19/2023

In [23]:
import pandas as pd
import numpy as np
import matplotlib as plt
import regex as re
import emoji
import seaborn as sns

In [24]:
dataset = pd.read_csv('preelection.csv')

In [25]:
dataset.describe()

       Number of Retweets
count         3405.000000
mean            22.797063
std            178.719840
min              0.000000
25%              0.000000
50%              1.000000
75%             11.000000
max           7463.000000

In [26]:
dataset.head()

,Tweets,Date,Username,Number of Retweets,Number of Likes
0,A year ago! Any progress from the winning cand...,5/5/2022,youth4climatePH,1.0,1
1,"Bongbong Marcos, Sara Duterte express deepest ...",5/4/2022,BayanihanToday,22.0,166
2,I decide I only vote for\r\nBBM‚ù§Ô∏è SARA DUTERTE...,5/7/2022,pjmscheesecake_,1.0,1
3,Mr. Bbm and Ms. Sara Duterte are obviously wil...,5/4/2022,Wonderwomanneph,0.0,0
4,THE CROWD IS INSANE. BBM YOULL FOREVER BE INSA...,5/7/2022,queen_pinksss,601.0,2745

### Date Frequency

In [27]:
dataset["Date"].value_counts(ascending=False)

Date
5/6/2022     727
5/5/2022     557
5/7/2022     520
5/4/2022     402
5/3/2022     299
5/2/2022     248
5/1/2022     175
4/29/2022    174
4/27/2022    125
4/30/2022    118
4/28/2022     34
5/12/2022      3
5/11/2022      2
5/22/2022      1
5/31/2022      1
5/30/2022      1
5/29/2022      1
5/28/2022      1
5/27/2022      1
5/26/2022      1
5/25/2022      1
5/24/2022      1
5/23/2022      1
5/17/2022      1
5/21/2022      1
5/20/2022      1
5/19/2022      1
5/18/2022      1
5/16/2022      1
5/15/2022      1
5/14/2022      1
5/13/2022      1
5/10/2022      1
5/9/2022       1
5/8/2022       1
6/5/2022       1
Name: count, dtype: int64

### User Frequency

In [28]:
dataset['Username'].value_counts(ascending=False)

Username
ABSCBNNews            51
@mxcachu              46
@ABSCBNNews           41
ABSCBNNews\r\n        40
PhilippineStar\r\n    33
                      ..
CEUmanila\n            1
elzyl\r                1
Visayanbizpost\r       1
mm_catiil\r            1
jaereports\r\n         1
Name: count, Length: 2204, dtype: int64

### Users Based on Hashtag Used For Search

In [29]:
dataset['Tweets'] = dataset['Tweets'].astype(str)

#### Halalan2022

#### Eleksyon2022

#### BilangPilipino2022

#### Election2022PH

### Hashtag Frequency

### Emoji Frequency

In [30]:
import spacy
from spacymoji import Emoji

In [31]:
nlp = spacy.load("en_core_web_sm")
emoji = Emoji(nlp)
nlp.add_pipe("emoji", first=True)

In [32]:
nlp.pipe_names

['emoji',
 'tok2vec',
 'tagger',
 'parser',
 'attribute_ruler',
 'lemmatizer',
 'ner']

In [33]:
dataset.head()

,Tweets,Date,Username,Number of Retweets,Number of Likes
0,A year ago! Any progress from the winning cand...,5/5/2022,youth4climatePH,1.0,1
1,"Bongbong Marcos, Sara Duterte express deepest ...",5/4/2022,BayanihanToday,22.0,166
2,I decide I only vote for\r\nBBM‚ù§Ô∏è SARA DUTERTE...,5/7/2022,pjmscheesecake_,1.0,1
3,Mr. Bbm and Ms. Sara Duterte are obviously wil...,5/4/2022,Wonderwomanneph,0.0,0
4,THE CROWD IS INSANE. BBM YOULL FOREVER BE INSA...,5/7/2022,queen_pinksss,601.0,2745

In [34]:
dataset_emojis = pd.read_csv('PreElection.csv')
dataset_emojis

,Tweets,Date,Username,Number of Retweets,Number of Likes
0,A year ago! Any progress from the winning cand...,5/5/2022,youth4climatePH,1.0,1
1,"Bongbong Marcos, Sara Duterte express deepest ...",5/4/2022,BayanihanToday,22.0,166
2,I decide I only vote for\r\nBBM‚ù§Ô∏è SARA DUTERTE...,5/7/2022,pjmscheesecake_,1.0,1
3,Mr. Bbm and Ms. Sara Duterte are obviously wil...,5/4/2022,Wonderwomanneph,0.0,0
4,THE CROWD IS INSANE. BBM YOULL FOREVER BE INSA...,5/7/2022,queen_pinksss,601.0,2745
...,...,...,...,...,...
3402,Heartbreaking that independent pollsters have ...,5/4/2022,jonathan_c_ong\r\n,12.0,50
3403,Dropped off my daughter this morning then proc...,4/29/2022,jjjohaira\r\n,0.0,9
3404,"Hindi lang yon. Yung kasalanan ng dilawan, kas...",5/2/2022,pilipinoako2022\r,0.0,0
3405,Vote \r\n@rowena_guanzon\r\n and \r\n@P3PWD_PL...,4/29/2022,jaereports\r\n,1.0,8
3406,"This elections, never forget those who voted a...",5/5/2022,nujp\r\n,20.0,22

In [35]:
dataset_emojis.drop(['Date','Username','Number of Retweets','Number of Likes'],axis=1, inplace=True)
dataset_emojis

                                                 Tweets
0     A year ago! Any progress from the winning cand...
1     Bongbong Marcos, Sara Duterte express deepest ...
2     I decide I only vote for\r\nBBM‚ù§Ô∏è SARA DUTERTE...
3     Mr. Bbm and Ms. Sara Duterte are obviously wil...
4     THE CROWD IS INSANE. BBM YOULL FOREVER BE INSA...
...                                                 ...
3402  Heartbreaking that independent pollsters have ...
3403  Dropped off my daughter this morning then proc...
3404  Hindi lang yon. Yung kasalanan ng dilawan, kas...
3405  Vote \r\n@rowena_guanzon\r\n and \r\n@P3PWD_PL...
3406  This elections, never forget those who voted a...

[3407 rows x 1 columns]

In [36]:
dataset_emojis['Tweets'] = dataset_emojis['Tweets'].astype(str)

In [37]:
def extract_emojies(x):
  doc = nlp(x['Tweets']) #with emojis
  emojis = [token.text for token in doc if token._.is_emoji]
  
  return emojis

emojies_df = dataset_emojis.apply(extract_emojies,axis=1)
emojies_df

0           [üòâ]
1            []
2       [‚ù§Ô∏è, üíö]
3            []
4            []
         ...
3402         []
3403         []
3404         []
3405         []
3406         []
Length: 3407, dtype: object

In [38]:
emoji_counts = (emojies_df
                .apply(pd.Series) #breaks up the list into seperate columns 
                .stack() #collapses each column into one column
                .value_counts() #counts the frequency of each item
                .rename('Count')
                .sort_values()
                .reset_index()
                .rename(columns={'index':'Emoji'}))
emoji_counts

C:\Users\casti\AppData\Local\Temp\ipykernel_19884\828530368.py:2: FutureWarning: Returning a DataFrame from Series.apply when the supplied function returns a Series is deprecated and will be removed in a future version.
  .apply(pd.Series) #breaks up the list into seperate columns

    Emoji  Count
0       üíå      1
1       üíü      1
2       ü§∑      1
3       üõé      1
4       üò£      1
..    ...    ...
256     üíô     63
257     üíö     96
258     üå∏    120
259    üó≥Ô∏è    203
260    üáµüá≠    333

[261 rows x 2 columns]