In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt
import regex as re
import emoji
import nltk
from nltk.tokenize import word_tokenize
from nltk.stem import WordNetLemmatizer
from nltk.corpus import stopwords
import seaborn as sns

In [2]:
dataset = pd.read_csv('postelectionfinal.csv')

In [3]:
dataset.describe()
# method: manual twitter, username: news5ph, data: 5/11/2022, hashtag for search: #halalan2022

,method,tweet,username,date,hashtag used for search
count,6641,6641,6641,6641,6641
unique,2,5865,2484,21,4
top,manual twitter,#Halalan2022,news5ph,5/11/2022,#halalan2022
freq,6166,19,371,2222,3007

## Date Frequency

In [4]:
dataset["date"].value_counts(ascending=False)

# number of tweets based on date

date
5/11/2022    2222
5/12/2022     579
5/25/2022     515
5/13/2022     483
5/18/2022     464
5/17/2022     341
5/14/2022     283
5/16/2022     273
5/24/2022     266
5/15/2022     214
5/19/2022     209
5/26/2022     176
5/23/2022     161
5/20/2022     125
5/30/2022      68
5/21/2022      66
5/22/2022      61
5/27/2022      48
5/31/2022      31
5/29/2022      30
5/28/2022      26
Name: count, dtype: int64

## User Frequency

In [5]:
dataset['username'].value_counts(ascending=False)

# number of tweets based on user

username
news5ph            371
onenewsph          296
gmanews            229
tinapperez         201
dzbb               159
                  ...
oxytocin_less        1
nylan68801086        1
youdidthistome2      1
jinchwita_           1
hdoosik              1
Name: count, Length: 2484, dtype: int64

### Users Based on Hashtag Used for Search

### Halalan2022

In [6]:
dataset_halalan2022 = dataset.loc[dataset['hashtag used for search'] == '#halalan2022']

In [7]:
dataset_halalan2022['username'].value_counts(ascending=False)

username
abscbnnews        137
anjo_bagaoisan     72
dzmmteleradyo      68
ABSCBNNews         57
ancalerts          42
                 ...
biot_tehkuy         1
pisaylikha          1
briggscecile        1
dack261             1
dgrazyzone22        1
Name: count, Length: 1360, dtype: int64

### Eleksyon2022

In [8]:
dataset_eleksyon2022 = dataset.loc[dataset['hashtag used for search'] == '#eleksyon2022']

In [9]:
dataset_eleksyon2022['username'].value_counts(ascending=False)

username
gmanews           229
tinapperez        201
dzbb              159
earthwizard1       58
pinoysiwowie       53
                 ...
krxpablo            1
ceciledoc           1
dapatsileniii       1
espiritu_truth      1
jaemark             1
Name: count, Length: 874, dtype: int64

### BilangPilipino2022

In [10]:
dataset_bilangpilipino2022 = dataset.loc[dataset['hashtag used for search'] == '#BilangPilipino2022']

In [11]:
dataset_bilangpilipino2022['username'].value_counts(ascending=False)

username
news5ph           371
onenewsph         296
philippinestar     87
pilstarngayon      69
edupunay           59
                 ...
mariamayee          1
nomerson            1
pbmirasol           1
liqiphil            1
thinkasean_         1
Name: count, Length: 86, dtype: int64

### Election2022PH

In [12]:
dataset_election2022ph = dataset.loc[dataset['hashtag used for search'] == '#Election2022PH']

In [13]:
dataset_election2022ph['username'].value_counts(ascending=False)

username
catweather      6
forpinoy2022    5
licasnews       4
ms_poisonivy    4
dragoddess      4
               ..
bjjxatin        1
azashen1        1
immarkdlr       1
itskreeshxx     1
hdoosik         1
Name: count, Length: 395, dtype: int64

## Hashtag Frequency

In [14]:
dataset['hashtag used for search'].value_counts(ascending=False)

hashtag used for search
#halalan2022           3007
#eleksyon2022          2061
#BilangPilipino2022    1110
#Election2022PH         463
Name: count, dtype: int64

## Emoji Frequency

In [15]:
import spacy
from spacymoji import Emoji

In [16]:
nlp = spacy.load("en_core_web_sm")
emoji = Emoji(nlp)
nlp.add_pipe("emoji", first=True)

In [17]:
nlp.pipe_names

['emoji',
 'tok2vec',
 'tagger',
 'parser',
 'attribute_ruler',
 'lemmatizer',
 'ner']

source: https://pauldesalvo.com/extract-emojis-from-python-strings-and-chart-frequency-using-spacy-pandas-and-plotly/

In [18]:
dataset.head()

,method,tweet,username,date,hashtag used for search
0,manual tweetdeck,Online info on government websites going down?...,Jauain,5/16/2022,#halalan2022
1,manual tweetdeck,"NEWS REPORT: Tonight, at exactly 11:19 PM, Vic...",PhilippinePDNS,5/16/2022,#halalan2022
2,manual tweetdeck,JUST IN: Former COMELEC Chairman Andy Bautista...,PhilippinePDNS,5/16/2022,#halalan2022
3,manual tweetdeck,"Lahat ng COC sa #Halalan2022 maliban sa isa, n...",updatesmanila,5/16/2022,#halalan2022
4,manual tweetdeck,BREAKING NEWS: COMELEC will proclaim the winni...,GreenGiantFM,5/16/2022,#halalan2022

In [19]:
dataset_emojis = pd.read_csv('postelectionfinal.csv')
dataset_emojis

,method,tweet,username,date,hashtag used for search
0,manual tweetdeck,Online info on government websites going down?...,Jauain,5/16/2022,#halalan2022
1,manual tweetdeck,"NEWS REPORT: Tonight, at exactly 11:19 PM, Vic...",PhilippinePDNS,5/16/2022,#halalan2022
2,manual tweetdeck,JUST IN: Former COMELEC Chairman Andy Bautista...,PhilippinePDNS,5/16/2022,#halalan2022
3,manual tweetdeck,"Lahat ng COC sa #Halalan2022 maliban sa isa, n...",updatesmanila,5/16/2022,#halalan2022
4,manual tweetdeck,BREAKING NEWS: COMELEC will proclaim the winni...,GreenGiantFM,5/16/2022,#halalan2022
...,...,...,...,...,...
6636,manual twitter,Dictator Ferdinand Marcos from the Philippines...,tayomuna,5/28/2022,#Election2022PH
6637,manual twitter,This election rewrites history. People voted f...,kollenedoncillo,5/28/2022,#Election2022PH
6638,manual twitter,"Hey, it‚Äôs a free country. No one has monopoly ...",joel_gregorio,5/28/2022,#Election2022PH
6639,manual twitter,HALA-lan. \n\n#Election2022PH,keithjumaani,5/29/2022,#Election2022PH
6640,manual twitter,Cheating- malalim na sugat kahit mahilom mahir...,hdoosik,5/31/2022,#Election2022PH

In [20]:
dataset_emojis.drop(['method','username','date','hashtag used for search'], axis=1, inplace=True)
dataset_emojis

                                                  tweet
0     Online info on government websites going down?...
1     NEWS REPORT: Tonight, at exactly 11:19 PM, Vic...
2     JUST IN: Former COMELEC Chairman Andy Bautista...
3     Lahat ng COC sa #Halalan2022 maliban sa isa, n...
4     BREAKING NEWS: COMELEC will proclaim the winni...
...                                                 ...
6636  Dictator Ferdinand Marcos from the Philippines...
6637  This election rewrites history. People voted f...
6638  Hey, it‚Äôs a free country. No one has monopoly ...
6639                      HALA-lan. \n\n#Election2022PH
6640  Cheating- malalim na sugat kahit mahilom mahir...

[6641 rows x 1 columns]

In [21]:
def extract_emojies(x):
  doc = nlp(x['tweet']) #with emojis
  emojis = [token.text for token in doc if token._.is_emoji]
  
  return emojis

emojies_df = dataset_emojis.apply(extract_emojies,axis=1)
emojies_df

0         []
1         []
2         []
3         []
4         []
        ...
6636      []
6637    [üáµüá≠]
6638      []
6639      []
6640      []
Length: 6641, dtype: object

In [22]:
emoji_counts = (emojies_df
                .apply(pd.Series) #breaks up the list into seperate columns 
                .stack() #collapses each column into one column
                .value_counts() #counts the frequency of each item
                .rename('Count')
                .sort_values()
                .reset_index()
                .rename(columns={'index':'Emoji'}))
emoji_counts

C:\Users\casti\AppData\Local\Temp\ipykernel_10676\828530368.py:2: FutureWarning: Returning a DataFrame from Series.apply when the supplied function returns a Series is deprecated and will be removed in a future version.
  .apply(pd.Series) #breaks up the list into seperate columns

    Emoji  Count
0       ü´¢      1
1       üåç      1
2       üçæ      1
3       ü´Ç      1
4       üíü      1
..    ...    ...
260     üòÇ    100
261    ‚ù§Ô∏è    104
262     üíö    105
263     ü§£    123
264    üáµüá≠    173

[265 rows x 2 columns]